asgiref==3.2.10
astroid==2.4.2
Django==3.1.6
django-crispy-forms==1.9.2
isort==5.5.2
lazy-object-proxy==1.4.1
mccabe==0.6.1
psycopg2-binary==2.8.6
pylint==2.6.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
typed-ast==1.4.1
wrapt==1.12.1
boto3==1.14.59
django-storages==1.10
uWSGI==2.0.19.1
django-nose==1.4.7
django-debug-toolbar