{% extends parent_template|default:'organizer/base_organizer.html' %} {% block title %} {{ block.super }} - {{ startup.name }} {% endblock title %} {% block content %}
<article>
    <h2>{{ startup.name }}</h2>
    <dl>
        <dt>Date Founded</dt>
        <dd>{{ startup.founded_date|date:"F jS, Y" }}</dd>
        <dt>Website</dt>
        <dd>{{ startup.website|urlize }}</dd>
        <dt>Contact</dt>
        <dd>{{ startup.contact }}</dd>
        <dt>Tag{{ startup.tags.count|pluralize }}</dt>
        {% for tag in startup.tags.all %}
        <dd>
            <a href="{{ tag.get_absolute_url }}">
                {{ tag.name|title }}
            </a>
        </dd>
        {% endfor %}
    </dl>
    <div class="description">
        {{ startup.description|linebreaks }}
    </div>
    <div class="d-flex justify-content-start">
        <p>
            <a class="text-warning" href="{{ startup.get_update_url }}" title="Edit"><span
                    class="material-icons">edit</span></a>
        </p>
        <p>
            <a class="text-danger" href="{{ startup.get_delete_url }}" title="Delete"><span class="material-icons">delete_forever</span></a>
        </p>
    </div>
    {% if startup.newslink_set.all %}
    <section>
        <h3 class="text-center">Recent News</h3>
        <div>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for newslink in startup.newslink_set.all %}
                <tr>
                    <td><a href="{{ newslink.get_absolute_url }}">
                        {{ newslink.title|title }}</a>
                    </td>
                    <td><a class="text-warning" href="{{ newslink.get_update_url }}" title="Edit Link"><span
                            class="material-icons">edit</span></a>
                    </td>
                    <td><a class="text-danger" href="{{ newslink.get_delete_url }}" title="Delete Link"><span
                            class="material-icons">delete_forever</span></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
    <a class="btn btn-info btn-lg btn-block" href="{{ startup.get_newslink_create_url }}">Add Article</a>
    {% if startup.blog_posts.all %}
    <section>
        <h3 class="text-center">Blog post{{ startup.blog_posts.count|pluralize }}</h3>
        <div>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                </tr>
                </thead>
                <tbody>
                {% for post in startup.blog_posts.all %}
                <tr>
                    <td><a href="{{ post.get_absolute_url }}">
                        {{ post.title|title }}
                    </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
</article>
<p>
    <a href="{{ request.META.HTTP_REFERER}}">Go Back</a>
</p>
{% endblock content %}