{% extends 'organizer/base_organizer.html' %} {% block title %} {{ block.super }} - {{ startup.name }} {% endblock title %} {% block content %}
{% load obfuscate_email %}
{% load partial_post_list %}
<article>
    <h2 class="text-center text-info">{{ startup.name }}</h2>
    <div>
        <dl class="row">
            <dt class="col-sm-3">Date Founded</dt>
            <dd class="col-sm-9">{{ startup.founded_date|date:"F jS, Y" }}</dd>
            <dt class="col-sm-3">Website</dt>
            <dd class="col-sm-9">{{ startup.website|urlize }}</dd>
            <dt class="col-sm-3">Contact</dt>
            <dd class="col-sm-9">{{ startup.contact|obfuscate }}</dd>
            {% with tag_list=startup.tags.all %}
            <dt class="col-sm-3">Tag{{ tag_list|pluralize }}</dt>
            <dd class="col-sm-9">
                {% for tag in tag_list %}
                <a href="{{ tag.get_absolute_url }}">
                    {{ tag.name|title }},
                </a>
                {% endfor %}
            </dd>
            {% endwith %}
            <dt class="col-sm-3">Feeds</dt>
            <dd class="col-sm-9">
                <a href="{{ startup.get_feed_atom_url }}">Atom, </a>
                <a href="{{ startup.get_feed_rss_url }}">RSS</a>
            </dd>
        </dl>
    </div>
    <div class="description">
        {{ startup.description|linebreaks }}
    </div>
    <div class="d-flex justify-content-start">
        <p>
            {% if perms.organizers.change_startup %}
            <a class="text-warning" href="{{ startup.get_update_url }}" title="Edit"><span
                    class="material-icons">edit</span></a>
            {% endif %}
        </p>
        <p>
            {% if perms.organizers.delete_startup %}
            <a class="text-danger" href="{{ startup.get_delete_url }}" title="Delete">
                <span class="material-icons">delete_forever</span></a>
            {% endif %}
        </p>
    </div>
    {% if startup.newslink_set.all %}
    <section>
        <h3 class="text-center">Recent News</h3>
        <div>
            <table class="table table-dark bg-transparent">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    {% if perms.organizers.change_newslink %}
                    <th scope="col">Update</th>
                    {% endif %}
                    {% if perms.organizers.delete_newslink %}
                    <th scope="col">Delete</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for newslink in startup.newslink_set.all %}
                <tr>
                    <td><a href="{{ newslink.get_absolute_url }}">
                        {{ newslink.title|title }}</a>
                    </td>
                    <td>
                        {% if perms.organizers.change_newslink %}
                        <a class="text-warning" href="{{ newslink.get_update_url }}" title="Edit Link"><span
                                class="material-icons">edit</span></a>
                        {% endif %}
                    </td>
                    <td>
                        {% if perms.organizers.delete_newslink %}
                        <a class="text-danger" href="{{ newslink.get_delete_url }}" title="Delete Link"><span
                                class="material-icons">delete_forever</span></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
    <section class="add_post_button">
    {% if perms.organizers.add_newslink %}
    <a class="text-info btn btn-outline-info btn-lg btn-block" href="{{ startup.get_newslink_create_url }}">Add Article</a>
    {% endif %}
    </section>
        {% format_post_list startup %}
</article>
<p>
    <a href="{{ request.META.HTTP_REFERER}}">Go Back</a>
</p>
{% endblock content %}