{% extends parent_template|default:'organizer/base_organizer.html' %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Delete Startup
{% endblock title %}
{% block content %}
<div>
    <div>
<form action="{{ startup.get_delete_url }}" method="post">
    {% csrf_token %}
    <p class="text-danger">
        Are you sure you want to delete Startup {{ startup.name|title }} ?
    </p>
    <p>
    <a href="{{ startup.get_absolute_url }}">Cancel</a>
    </p>
    <p>
    <button type="submit" class="btn btn-outline-danger">Delete Startup</button>
    </p>
</form>
        </div>
    </div>
{% endblock content %}