{% extends parent_template|default:'organizer/base_organizer.html' %}
{% block title %}
{{ block.super }} - Startups
{% endblock title %}
{% block content %}
<h2>Startup List</h2>
<ul>
    {% for startup in page_obj %}
    <li>
        <a href="{{ startup.get_absolute_url }}">
            {{ startup.name }}
        </a>
    </li>
    {% empty %}
    <li><em>No Startups Available</em></li>
    {% endfor %}
</ul>
<div>
    Page {{ page_obj.number }} of {{ paginator.num_pages }}
</div>
<div>
    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a href="?page{{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% if  page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}