{% extends 'users/base_user.html' %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Password Reset
{% endblock title %}
{% block content %}
<div class="row">
    <div class="class=col-md-5">
        {% if validlink %}
        <p class="text-info">Please enter a new password below</p>
        <form action="{{ request.path }}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Save New Password</button>
        </form>
        {% else %}
        <p class="text-warning">This reset link is no longer valid.</p>
        <p class="text-warning">Please request a new link <a href="{% url 'dj-auth:pw_reset_start' %}">here</a>.</p>
        {% endif %}
    </div>
    <div class="col-md-7">
        <img class="rounded img-thumbnail"
             src="{{ STATICFILES_DIRS }}/static/images/christian-wiediger-WkfDrhxDMC8-unsplash.jpg"/>
    </div>
</div>
{% endblock content %}