{% extends 'users/base_user.html' %}
{% block title %}
{{ block.super }}
{{profile.user.get_username}}'s profile
{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-7">
        <h2>About {{ profile.user.get_username }}</h2>
    </div>
    <div class="col-md-5">
        <ul>
            <li><a href="{% url 'dj-auth:pw_change' %}">Change Password</a></li>
            <li><a href="{% url 'dj-auth:disable' %}">Disable Account</a></li>
        </ul>
    </div>
</div>
{% endblock content %}