{% extends 'users/base_user.html' %}
{% load static %}
{% load display_form %}
{% block title %}
{{ block.super }} - Disable Account
{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <p class="text-warning">The changes that you are making will not be undone.</p>
        {% url 'dj-auth:disable' as form_url %}
        {% delete_form form_url 'Disable Account' user %}
    </div>
    <div class="col-md-4">
    <p>
        <a href="{{ request.META.HTTP_REFERER}}">Go Back</a>
    </p>
        </div>
</div>
{% endblock content %}