{% extends 'post/base_blog.html' %}
{% block title %}
{{ block.super }} - {{ month|date:'F Y' }} Posts
{% endblock %}
{% load blog_latest %}
{% block post_content %}
        <h2>All Posts for {{ month|date:'F Y'}}</h2>
        {% for post in post_list %}
        <article>
            <header>
                <div class="card text-white bg-transparent border-dark">
                        <div class="card-header">
                            <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title|title }}</a>
                            </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Written on: {{ post.pub_date|date:"l, Fj, Y"}}
                            </p>
                            <p>{{ post.text|truncatewords:20 }}</p>
                            <a href="{{ post.get_absolute_url }}">Read more&hellip;</a>
                        </div>
                </div>
                <div class="d-flex justify-content-start">
                    {% if perms.blogs.change_post %}
                    <p>
                        <a class="text-warning" href="{{ post.get_update_url }}" title="Edit"><span
                                class="material-icons">edit</span></a>
                    </p>
                    {% endif %}
                    {% if perms.blogs.delete_post %}
                    <p>
                        <a class="text-danger" href="{{ post.get_delete_url }}" title="Delete"><span
                                class="material-icons">delete_forever</span></a>
                    </p>
                    {% endif %}
                </div>

            </header>
        </article>
        {% endfor %}
    {% endblock post_content %}
    {% block col-4 %}
        <section class="latest_post">
        <p>
            <a href="{% url 'blogs_post_archive_year' month|date:'Y' %}">All Posts from {{ month|date:'Y' }}</a>
        </p>
        </section>
        {% get_latest_posts 5 %}
         <section class="latest_post">
             <h4>Latest Posts </h4>
                 {% for latest_post in latest_post_list %}
            <p>
            <a href="{{ latest_post.get_absolute_url }}">
                {{ latest_post.title }}
            </a>
            </p>
            {% endfor %}
         </section>
    {% endblock col-4 %}
    {% block pagination %}
        <nav aria-label="Page navigation example" class="pagination_nav">
            <ul class="pagination">
                {% if previous_month %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'blogs_post_archive_month' previous_month|date:'Y' previous_month|date:'m' %}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                </li>
                {% endif %}
                {% if next_month %}
            <li class="page-item">
      <a class="page-link" href="{% url 'blogs_post_archive_month' next_month|date:'Y' next_month|date:'m' %}"
         aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>
            {% endif %}
        </ul>
        </nav>
    {% endblock pagination %}
