{% extends 'post/base_blog.html' %}
{% block title %}
{{ block.super }} - {{ month|date:'F Y' }} Posts
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-4">
        {% if perms.blogs.add_post %}
        <a class="btn btn-info btn-lg btn-block" href="{% url 'blogs_post_create' %}">Write new Blog Post</a>
        {% endif %}
        <br>
        <p>
            <a href="{% url 'blogs_post_archive_year' month|date:'Y' %}">All Posts from {{ month|date:'Y' }}</a>
        </p>
        <p>
            <a href="{% url 'blogs_posts_list' %}">Latest Posts</a>
        </p>
    </div>
    <div class="col-8">
        <h2>All Posts for {{ month|date:'F Y'}}</h2>
        {% for post in post_list %}
        <article>
            <header>
                <h3>
                    <a href="{{ post.get_absolute_url }}">{{ post.title|title }}</a>
                </h3>
                <p>
                    Written on:
                    <time datetime="{{ post.pub_date|date:'Y-m-d'}}">
                        {{ post.pub_date|date:'l, F j, Y'}}
                    </time>
                </p>
                <p>{{ post.text|truncatewords:20 }}</p>
                <p>
                    <a href="{{ post.get_absolute_url }}">Read more...</a>
                </p>
                <div class="d-flex justify-content-start">
                    {% if perms.blogs.change_post %}
                    <p>
                        <a class="text-warning" href="{{ post.get_update_url }}" title="Edit"><span
                                class="material-icons">edit</span></a>
                    </p>
                    {% endif %}
                    {% if perms.blogs.delete_post %}
                    <p>
                        <a class="text-danger" href="{{ post.get_delete_url }}" title="Delete"><span
                                class="material-icons">delete_forever</span></a>
                    </p>
                    {% endif %}
                </div>

            </header>
        </article>
        {% endfor %}
    </div>

</div>
<div class="row">
    <div class="col-12">
        <nav aria-label="Page navigation example" class="pagination_nav">
            <ul class="pagination">
                {% if previous_month %}
                <li class="page-item">
                    <a class="page-link"
                       href="{% url 'blogs_post_archive_month' previous_month|date:'Y' previous_month|date:'m' %}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                </li>
                {% endif %}
                {% if next_month %}
            <li class="page-item">
      <a class="page-link" href="{% url 'blogs_post_archive_month' next_month|date:'Y' next_month|date:'m' %}"
         aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>
            {% endif %}
        </ul>
        </nav>
    </div>
</div>
{% endblock content %}