{% extends 'post/base_blog.html' %}
{% block title %}
{{ block.super }} - {{ post.title|title }}
{% endblock %}
{% block content %}
<article>
    <header>
        <h2 class="text-center text-info">{{ post.title|title }}</h2>
        <div class="d-flex justify-content-between">
            <p class="text-left font-weight-light text-success written_on">
                Written on:
            </p>
            <p class="text-right text-success font-weight-light">
                <time datetime="{{ post.pub_date|date:'Y-m-d' }}">
                    {{ post.pub_date|date:"l, F j, Y" }}
                </time>
            </p>
        </div>

    </header>
    <div>
        <p class="body_text font-weight-light">
            {{ post.text|linebreaks }}
        </p>
    </div>
    <div class="d-flex justify-content-start">
        {% if perms.blogs.change_post %}
        <p>
            <a class="text-warning" href="{{ post.get_update_url }}" title="Edit"><span
                    class="material-icons">edit</span></a>
        </p>
        {% endif %}
        {% if perms.blogs.delete_post %}
        <p>
            <a class="text-danger" href="{{ post.get_delete_url }}" title="Delete"><span class="material-icons">delete_forever</span></a>
        </p>
        {% endif %}
    </div>
    {% if post.startups.all or post.tags.all %}
    <footer>
        {% if post.startups.all %}
        <section>
            <h3>Startup{{ post.startups.all|pluralize }}</h3>
            <ul>
                {% for startup in post.startups.all %}
                <li>
                    <a href="{{ startup.get_absolute_url }}">
                        {{ startup.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        {% if post.tags.all %}
        <section>
            <h3>Tag{{ post.tags.all|pluralize }}</h3>
            <ul>
                {% for tag in post.tags.all %}
                <li>
                    <a href="{{ tag.get_absolute_url }}">
                        {{ tag.name|title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    </footer>
    {% endif %}
</article>
<br>
<p>
    <a href="{{ request.META.HTTP_REFERER}}">Go Back</a>
</p>
{% endblock %}