{% extends parent_template|default:'post/base_blog.html' %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Delete Blog Post
{% endblock %}
{% block content %}
<div>
    <div>
<form action="{{ post.get_delete_url }}" method="post">
    {% csrf_token %}
    <p class="text-danger">
        Are you sure you want to delete blog post {{ post.title|title }}?
    </p>
    <p>
    <a href="{{ post.get_absolute_url }}">Cancel</a>
        </p>
    <p>
    <button type="submit" class="btn btn-outline-danger">Delete
        Blog Post</button>
    </p>
</form>
        </div>
    </div>
{% endblock %}