{% extends 'post/base_blog.html' %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - {{ year|date:'Y' }} Posts
{% endblock %}
{% load blog_latest %}
{% block post_content %}
        <h2>All Posts for {{ year|date:'Y' }}</h2>
        {% for post in post_list %}
        <article>
            <header>
                <div class="card text-white bg-transparent border-dark">
                        <div class="card-header">
                            <h5 class="card-title">
                                <a href="{{ post.get_absolute_url }}">{{ post.title|title }}</a>
                            </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Written on: {{ post.pub_date|date:"l, Fj, Y"}}
                            </p>
                            <p>{{ post.text|truncatewords:20 }}</p>
                            <a href="{{ post.get_absolute_url }}">Read more&hellip;</a>
                        </div>
                </div>
                <div class="d-flex justify-content-start">
                    {% if perms.blogs.change_post %}
                    <p>
                        <a class="text-warning" href="{{ post.get_update_url }}" title="Edit">
                            <span class="material-icons">edit</span>
                        </a>
                    </p>
                    {% endif %}
                    {% if perms.blogs.delete_post %}
                    <p>
                        <a class="text-danger" href="{{ post.get_delete_url }}" title="Delete">
                            <span class="material-icons">delete_forever</span>
                        </a>
                    </p>
                    {% endif %}
                </div>
            </header>
        </article>
        {% endfor %}
        {% endblock post_content %}
        {% block col-4 %}
        <section class="latest_post">
            <h3>Archive by Month</h3>
                <ul>
                    {% for month in date_list %}
                    <li>
                        <a href="{% url 'blogs_post_archive_month' month|date:'Y' month|date:'n' %}">{{ month|date:"F Y" }}</a>
                    </li>
                    {% endfor %}
                </ul>
        </section>
        {% get_latest_posts 5 %}
         <section class="latest_post">
             <h4>Latest Posts </h4>
                 {% for latest_post in latest_post_list %}
            <p>
            <a href="{{ latest_post.get_absolute_url }}">
                {{ latest_post.title }}
            </a>
            </p>
            {% endfor %}
         </section>
        {% endblock col-4 %}
        {% block pagination %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            {% if previous_year %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'blogs_post_archive_year' previous_year|date:'Y' %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% if next_year %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'blogs_post_archive_year' next_year|date:'Y' %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        </nav>
        {% endblock pagination %}