{% extends 'post/base_blog.html' %} {% block title %} {{ block.super }} - Blog List {% endblock %}
{% block post_content %}
            {% for post in post_list %}
            <article>
                <header>
                    <div class="card text-white bg-transparent border-dark">
                        <div class="card-header">
                            <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title|title }}</a>
                            </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Written on: {{ post.pub_date|date:"l, Fj, Y"}}
                            </p>
                            <p>{{ post.text|truncatewords:20 }}</p>
                            <a href="{{ post.get_absolute_url }}">Read more&hellip;</a>
                        </div>
                    </div>
                        <div class="d-flex justify-content-start">
                            {% if perms.blogs.change_post %}
                            <p>
                                <a class="text-warning" href="{{ post.get_update_url }}" title="Edit"><span
                                        class="material-icons">edit</span></a>
                            </p>
                            {% endif %}
                            {% if perms.blogs.delete_post %}
                            <p>
                                <a class="text-danger" href="{{ post.get_delete_url }}" title="Delete"><span
                                        class="material-icons">delete_forever</span></a>
                            </p>
                            {% endif %}
                        </div>
                </header>
            </article>
            {% empty %}
            <p><em>No Blog Posts Available</em></p>
            {% endfor %}
        {% endblock post_content %}
        {% block col-4 %}
        <section class="latest_post">
            <h3>Post Archives</h3>
            <ul>
                {% for y in date_list %}
                <li><a href="{% url 'blogs_post_archive_year' y|date:'Y' %}">
                    {{ y|date:"Y" }}
                </a></li>
                {% endfor %}
            </ul>
        </section>
        {% endblock col-4 %}
