{% extends parent_template|default:'organizer/base_organizer.html' %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} - Link News Article to Startup
{% endblock title %}
{% block content %}
<div>
    <div>
        <form action="{% url 'organizers_newslink_create' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-success" type="submit">Link Article</button>
        </form>
    </div>
    <p>
        <a href="{{ request.META.HTTP_REFERER}}">Go Back</a>
    </p>
</div>
{% endblock content %}