{% extends parent_template|default:'organizer/base_organizer.html' %}
{% block title %}
{{ block.super }} - Tag List
{% endblock title %}
{% block content %}
<h2>Tag List</h2>
<div>
    <a href="{% url 'organizers_tag_create' %}" class="text-info">Create New Tag</a>
</div>
<ul>
    {% for tag in tag_list %}
    <li>
        <a href="{{ tag.get_absolute_url }}">
            {{ tag.name|title }}
        </a>
    </li>
    {% empty %}
    <li><em>There are currently no Tags available.</em></li>
    {% endfor %}
</ul>
<div>
    Page {{ page_obj.number }} of {{ paginator.num_pages }}
</div>
<div>
    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a href="{{ previous_page_url }}">Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="{{ next_page_url }}">Next</a>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}

